body{
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
}
table{
    border-collapse: collapse;
    width: 50%;

}
th{
    background-color: rgba(228, 123, 115, 0.801);
    text-align: center;
}
th,td{
    padding: 10px;
    text-align: center;
}
